@model List<StudentListViewModel>

@{
    ViewData["Title"] = "학생 관리";
}

@if (User.Identity.IsAuthenticated && User.IsInRole("manager"))
{
    <div class="text-center">
        <h2>회원님 목록</h2>
        <span class="nav-link pull-right">
            <a class="btn btn-info" asp-controller="Student" asp-action="AddStudent">회원님 추가</a>
        </span>
        <table class="table">
            <thead>
                <tr>
                    <th class="align-middle text-center">이름</th>
                    <th class="align-middle text-center">Email</th>
                    <th class="align-middle text-center">핸드폰 번호</th>
                    <th class="align-middle text-center">수강 악기</th>
                    <th class="align-middle text-center">담당 선생님</th>
                    <th colspan="2"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (StudentListViewModel m in Model)
                {
                <tr>
                    <td class="align-middle text-center">@m.Student.Name</td>
                    <td class="align-middle text-center">@m.Student.Email</td>
                    <td class="align-middle text-center">@m.Student.PhoneNumber</td>
                    <td class="align-middle text-center">@m.Student.Ins</td>
                    <td class="align-middle text-center">@m.Teacher.Name</td>
                    <td class="align-middle text-center">
                        <a class="btn btn-info" asp-controller="schedule" asp-action="ChangeSchedule" asp-route-id="@m.Student.StudentId">레슨 조회</a>
                    </td>
                    <td class="align-middle text-center">
                        <a class="btn btn-info" asp-controller="Student" asp-action="UpdateStudent" asp-route-id="@m.Student.StudentId">정보 변경</a>
                    </td>
                    <td class="align-middle text-center">
                        <a class="btn btn-danger" asp-controller="Student" asp-action="DeleteStudent" asp-route-id="@m.Student.StudentId">Delete</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
}