@model List<CommunityListViewModel>

@{
    ViewData["Title"] = "커뮤니티";
}

<div class="text-center">
    <h2>커뮤니티 게시판</h2>
    <h3>회원분들과 자유롭게 이야기를 나누어보아요~</h3>
    @if (User.Identity.IsAuthenticated)     // 인증이 되었을 때만(로그인 성공시) 보인다.
    { 
        <span class="nav-link btn btn-info pull-right">
            <a class="text-dark" asp-controller="Home" asp-action="CreateCommunity">글쓰기</a>
        </span>
    }
        
    <br />
    <br />
    <table class="table">
        <thead>
            <tr>
                <th class="align-middle text-center">번호</th>
                <th class="align-middle text-center">제목</th>
                <th class="align-middle text-center">글쓴이</th>
                <th class="align-middle text-center">작성일</th>
            </tr>
        </thead>
        <tbody>
            @foreach (CommunityListViewModel c in Model)
            {
                <tr>
                    <td class="align-middle text-center">@c.Community.CommunityId</td>
                    <td class="align-middle text-center">
                        <a asp-controller="Home" asp-action="Description" asp-route-id="@c.Community.CommunityId">@c.Community.Title</a>
                    </td>
                    <td class="align-middle text-center">@c.AccountUser.Name</td>
                    <td class="align-middle text-center">@c.Community.EnrollTime.ToString("yyyy-MM-dd HH:mm")</td>
                </tr>
            }
        </tbody>
    </table>
    <div class="text-center">
        <ul class="pagination">

            @if ((Model[0].Page - 1) / 10 * 10 + 1 != 1)
            {
                <li class="page-item">
                    <a class="nav-link text-dark" asp-controller="Home" asp-action="Community" asp-route-id="@((Model[0].Page - 1) / 10 * 10)">이전</a>
                </li>
            }


            @if ((Model[0].Page - 1) / 10 * 10 + 10 >= CommunityListViewModel.Count)
            {
                @for (int i = (Model[0].Page - 1) / 10 * 10 + 1; i <= CommunityListViewModel.Count; i++)
                {
                    if (Model[0].Page == i)
                    {
                        <li class="page-item">
                            <span class="nav-link text-dark bg-info">@i</span>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="Community" asp-route-id="@i">@i</a>
                        </li>
                    }
                }
            }
            else
            {
                @for (int i = (Model[0].Page - 1) / 10 * 10 + 1; i < (Model[0].Page - 1) / 10 * 10 + 11; i++)
                {
                    if (Model[0].Page == i)
                    {
                        <li class="page-item">
                            <span class="nav-link text-dark bg-info">@i</span>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="Community" asp-route-id="@i">@i</a>
                        </li>
                    }

                }

                <li class="page-item">
                    <a class="nav-link text-dark" asp-controller="Home" asp-action="Community"
                        asp-route-id="@((Model[0].Page - 1) / 10 * 10 + 11)">다음</a>
                </li>
            }



        </ul>
    </div>
</div>