@model CommunityListViewModel

@{
    ViewData["Title"] = "글 본문";
}

<h3>제목: @Model.Community.Title</h3>
<h4>작성자: @Model.AccountUser.Name</h4>
<h4>@Model.Community.EnrollTime.ToShortDateString()</h4>
<pre>@Model.Community.Description</pre>
<div class="form-group row">
    @if (User.Identity.Name == Model.AccountUser.Email)
    {
        <a class="text-dark btn btn-info col-md-2 col-md-offset-5"
           asp-controller="Home" asp-action="DeleteCommunity" asp-route-id="@Model.Community.CommunityId">삭제</a>
    }
</div>
