<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">RubySound</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark mr-3" asp-area="" asp-controller="Teacher" asp-action="TeacherIntroduce">선생님 소개</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark mr-3" asp-area="" asp-controller="Home" asp-action="Community">커뮤니티</a>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            @if (User.IsInRole("manager"))       // 로그인에 성공하고 그 계정에 할당된 Role이 Admin일 때
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark mr-3" asp-area="" asp-controller="Teacher" asp-action="TeacherManagement">선생님 관리</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark mr-3" asp-area="" asp-controller="Student" asp-action="StudentManagement">학생 관리</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark mr-3" asp-area="" asp-controller="Schedule" asp-action="ScheduleList">스케쥴 확인</a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark mr-3" asp-area="" asp-controller="Schedule" asp-action="MySchedule" 
                                       asp-route-id="@User.Identity.Name">내 스케쥴 확인</a>
                                </li>
                            }
                        }
                    </ul>
                    <ul class="nav navbar-nav pull-right">
                        @if (User.Identity.IsAuthenticated)     // 인증이 되었을 때만(로그인 성공시) 보인다.
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark mr-5">@User.Identity.Name.Split('@').FirstOrDefault()님 안녕하세요.</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark mr-3" asp-area="" asp-controller="Home" asp-action="UpdateUser"
                                    asp-route-id="@User.Identity.Name">내 정보 수정</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Logout">로그아웃</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark mr-3" asp-area="" asp-controller="Home" asp-action="Login">로그인</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Join">회원가입</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @*<footer class="border-top footer text-center">
        <div class="row">
            <div class="container text-center">
                &copy; 2020 - App - <a asp-area="" asp-controller="Home" asp-action="Index">RubySound</a>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)*@
</body>
</html>
