@model ChangeScheduleViewModel

@{
    ViewData["Title"] = "스케쥴 변경";
}

<!-- 내 스케쥴 확인 -->
<br />
<br />

@if (User.Identity.IsAuthenticated && !User.IsInRole("manager"))
{
    <div class="text-center">
        <h4>@Model.Student.Name 회원님 스케쥴</h4>
        <hr />
        @if (Model.Teacher != null)
        {
            <p>담당 선생님 : @Model.Teacher.Name</p>
            <p>악기 : @Model.Student.Ins</p>
            <p>선생님 연락처 : @Model.Teacher.PhoneNumber</p>
        }
        else
        {
            <p>담당 선생님 : -</p>
            <p>악기 : -</p>
        }
        <br />
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="align-middle text-center">레슨 시간</th>
                            <th class="align-middle text-center">레슨 상태</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Student.Schedules != null)
                        {
                            foreach (Schedule m in Model.Student.Schedules)
                            {
                                <tr>
                                    <td class="align-middle text-center">@m.ScheduleTime.ToString("MM-dd  오후 hh시")</td>
                                    <td class="align-middle text-center">
                                        @if (m.LessonStatus == Schedule.Status.Waiting)
                                        {
                                            <div class="btn btn-info">대기</div>
                                        }
                                        else
                                        {
                                            <div class="btn btn-danger">완료</div>
                                        }

                                    </td>
                                </tr>
                            }
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
}